{% extends "base.html" %}
{% block title %}Index - PhotoFun{% endblock %}
{% block main %}
  <style type="text/css">
    .arrow{
      margin-top: 155px;
    }
  </style>
  <hr />
  <div class="container">
    <div class="row">
      {% if current %}
      <div class="span1 arrow">
        {% if previous %}
          <a href="index.php?id={{previous.id}}" class="btn"><i class="icon-arrow-left"></i>Previous</a>
        {% endif %}
      </div>
      <div class="span10">
         <div class="thumbnail">
          <img
          src="/static/submissions/{{current.filename}}"
          alt="title" />
        </div>
      </div>
      <div class="span1 arrow">
        {% if next %}
          <a href="index.php?id={{next.id}}" class="btn">Next<i class="icon-arrow-right"></i></a>
        {% endif %}
      </div>
      {% else %}
        {% if current_user %}
          <h1 class="heading">No Photo, please <a href="upload.php">upload</a> your photo. </h1>
        {% else %}
        <h1 class="heading">No Photo, please <a href="login.php">login</a> to upload your photo. </h1>
        {% endif %}
        
      {% endif %}
    </div>
    <hr />
    <div class="row">
      <div class="span10 offset1">
        <!-- comments begin -->
        {% for comment in comments %}
        <div class="row comment">
          <div class="span2"> &nbsp; </div>
          <div class="span8">
            <div class="span8"><span class="label">{{comment.date}} -
                {{comment.commenter}}</span></div>
            <hr />
            <p class="">{{comment.comment}}</p>
          </div>
        </div>
        <hr />
        {% endfor %}
        <!-- comments end -->
        {% if current %}
        {% if current_user %}
        <div class="row">
          <form action="post.php" method="post" class="offset2 form-search">
            <input name="id" type="hidden" value="{{current.id}}" />
            <div class="input-append">
              <input id="comment-input" name="comment" class="span6" type="text" />
              <input type="submit" value="Post" class="btn" />
            </div>
          </form>
        </div>
        {% else %}
          <label class="alert">Login to comment.</label>
        {% endif %}
        {% endif %} 
      </div>
    </div>
  </div>
{% endblock %}
